/* -- CSS -- */

* {
    box-sizing: border-box;
    text-align: center;
    font-weight: normal;
    zoom: 112%;
  }

  body { 
    display: grid;
    margin: 5px;
    height: 100vh;
    grid-template-rows: .09fr .41fr .09fr .09fr;
    grid-template-columns: repeat(12, .09fr);
    grid-template-areas: 
      'a1 a2 a3 a4 a5 a6 a7 a8 a9 a10 a11 a12'
      'b1 b2 b3 b4 b5 b6 b7 b8 b9 b10 b11 b12'
      'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10 c11 c12'
      'd1 d2 d3 d4 d5 d6 d7 d8 d9 d10 d11 d12';
    row-gap: 15px;
  }
  
  header {
    background: orange;
    color: black;
    padding: 25px;
    grid-area: a1 / a1 / a1 / a12;
  }

  section {
    color: black;
    padding: 20px;
    align-content: center; 
  }
  
  #left {
    background-color: yellow;
    grid-area: c1 / c1 / c1 / c4;
  }
  
  #middle {
    background-color: red;
    grid-area: c1 / c5 / c1 / c8;  
  }
  
  #right {
    background-color: green;
    grid-area: c1 / c9 / c1 / c12;
  }
  
  #full {
    background-color: brown;
    padding: 20px;
    grid-area: b1 / b1 / b1 / b12;
  }
  
  #division {
    background-color: pink;
    padding: 20px;
    justify-self: center;
    margin-top: 10px;
    grid-area: b1 / b1 / b1 / b12;
  }
  
  aside {
    background-color: blue;
    color: #000000;
    width: 282px;
    height: 100%;
    padding: 10px;
    margin-left: 25px;
    z-index: 5;
    float: left;
    grid-template-columns: b2;
    grid-area: b1 / b2 / b1 / b4;
  }
  
  #aside2 {
    background-color: grey;
    grid-area: b1 / b5 / b1 / b8;
  }
  
  footer {
    background-color: purple;
    color: black;
    padding: 20px;
    grid-area: d1 / d1 / d1 / d12;  
  }